%table
  %tr
    %td
      %p= "Hola,"
      %p
        = "¡Bienvenido #{@suscriptor.email} a"
        %strong Plakeit

      %p Estamos emocionados que hayas tomado la decisión de suscribirte, para que seas el primero en enterarte del Lanzamiento de Plakeit, la plataforma que te guiará a encontrar los mejores eventos según tus gustos y preferencias  para divertirte, así podrás disfrutar de grandes descuentos, ofertas y premios.

      %p ¡Muy pronto te estaremos informando de todo lo que trae Plakeit para ti!

      %p Si tienes un negocio en el rubro del entretenimiento nocturno, comunícate con nosotros :)

      %p Gracias, que tenga un día genial :)

      %p
        %strong Team Walkant
      %p
        %strong Contáctanos:

      %ul{style: 'list-style: none'}
        %li Teléfono: 985284455
        %li
          %a{href: "#", mail_to: 'hello@plakeit.com'} hello@plakeit.com
        %li
          %a{href: "#", mail_to: 'hello@walkant.com'} hello@walkant.com

/ /content
