/* Shared*/
.error_messages{
  background: #fcf8e3;
  color: #8a6d3b;
  padding: 12px;
  border-radius: 6px;
  margin-top: -50px;
}

.button {
  border-radius: 100px;
}

/* Sections*/

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading, .section-description {
  margin-bottom: 1.2rem;
}

/* Hero*/

.hero-header {
  /* Rectangle 25: */
  background-image: radial-gradient(50% 67%, rgba(31, 55, 95, 0.9) 40%, rgba(17, 32, 57, 0.9) 99%);
  padding-top: 40px;
  .row{
    .hero-heading{
      text-align: left;
    }
    .options{
      text-align: right;
      padding-right: 8%;
      .language{
        color: white;
        text-decoration: none;
        margin-right: 5px;
      }
    }
  }
  .logo {
    margin-bottom: 180px;
  }
  .container{
    text-align: left;
  }
}

.phones {
  position: relative;
}

.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
  + .phone {
    display: none;
  }
}

/* features*/

.section.features {
  color: #fff;
  background-color: white;
  padding-bottom: 0px;
}

.features {
  .container {
    padding: 0px;
    width: 100%;
    max-width: 100%;
    background-color: white;
    .content{
      .columns{
        height: 700px;
      }
      .first {
        background-image: url(image-path('business/bg_1.png'));
        background-size: contain;
      }
      .second {
        background-image: url(image-path('business/bg_2.png'));
        background-size: contain;
        margin-left: 0;
      }
      .three {
        background-image: url(image-path('business/bg_3.png'));
        background-size: contain;
        margin-left: 0;
      }
    }
  }
  .header {
    color: #495D77;
    .title {
      font-family: OpenSans-Semibold;
      font-size: 33px;
      color: #495D77;
      letter-spacing: 0.61px;
      line-height: 35px;
    }
    .description {
      /* Crea tus eventos y s: */
      font-family: OpenSans;
      font-size: 22px;
      color: #495D77;
      letter-spacing: 0.52px;
      line-height: 35px;
      margin-bottom: 10rem;
    }
  }
  .container-text {
    .value-heading {
      font-family: OpenSans-Bold;
      font-size: 2.4em;
      line-height: 1.2em;
      text-align: left;
      margin-bottom: 60px;
    }
    .value-description {
      font-family: OpenSans;
      font-weight: 100;
      font-size: 20px;
      line-height: 30px;
      text-align: left;
    }
  }
  .columns .container-text {
    width: 330px;
    margin: 0 auto;
  }
  .first .container-text {
    margin-top: 90px;
    color: #EAA54A;
  }
  .second .container-text {
    color: #4C364C;
    margin-top: 280px;
  }
  .three .container-text {
    color: #CAC9C7;
    margin-top: 40px;
  }
}

.value-heading {
  margin-bottom: .3rem;
}

.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help*/

.get-help {
  border-bottom: 1px solid #ddd;
  color: black;
}

/* screen-mobil*/
/* additional */

.screen-mobil {
  background-color: #2EB398;
  color: #fff;
  .container {
    max-width: 100%;
    width: 100%;
  }
  .section-description {
    margin-bottom: 4rem;
    text-align: center;
  }
  .section-heading {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

/* Suscription */

#new_suscriptor_business {
  input {
    height: 45px;
    margin-bottom: 30px;
  }
}

@media (max-width: 550px) {
  .hero-header {
    padding-top: 0px;
    padding-bottom: 0px;
    .options{
      display: none;
    }
    .button-primary{
      margin-left: 30%;
    }
    .row {
      margin-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 50px;
      .hero-heading {
        text-align: center;
        margin-bottom: 40px;
      }
      .be_first{
        text-align: center;
      }
    }
    .be_first{
      font-size: 0.9em;
      margin-bottom: 5px;
    }
  }

  #new_suscriptor{
    .button{
      padding: 0 14px;
    }
    #suscriptor_email{
      width: 60%;
    }
  }

  .features {
    .header{
      padding-left: 26px;
      padding-right: 26px;
      .description{
        font-size: 1.3em;
        line-height: 24px;
      }
    }

    .columns .container-text {
      width: 86%;
      margin: 0 auto;
      margin-top: 12%;
      .value-heading{
        margin-bottom: 30px;
        font-size: 2.4em;
        line-height: 35px;
      }
      .value-description{
        font-size: 1.3em;
        line-height: 25px;
      }
    }

    .container{
      .content{
        .columns{
          height: 500px;
          background-size: cover;
        }
      }
    }
    .first, .second, .three {
      height: 600px;
    }
    .first .container-text, .second .container-text, .three .container-text {
      margin-top: 40px;
    }
  }
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .hero-header {
    padding-top: 0px;
    padding-bottom: 0px;
    .row {
      margin-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 50px;
    }
    .hero-heading{
      text-align: center;
      margin-bottom: 40px;
    }
    .be_first{
      font-size: 0.9em;
      margin-bottom: 5px;
    }
  }

  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
    + .phone {
      top: -6rem;
      display: block;
      max-width: 73.8%;
      right: 0;
      z-index: 2;
      max-height: 338px;
    }
  }

  .hero-heading {
    font-size: 2.4rem;
    /* PROMOCIONA TUS EVENT: */
    font-family: OpenSans-Semibold;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1.4px;
    line-height: 65px;
    text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero-heading {
    font-size: 2.6rem;
    color: rgba(255, 255, 255, 0.8);
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero-header {
    padding: 0;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
    + .phone {
      top: -12rem;
      max-height: 472px;
    }
  }
  .screen-mobil {
    padding: 14rem 0 15rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .hero-header{
    padding: 5rem 0 0rem 0;
    .row{
      margin-bottom: 200px;
    }
    .logo-plakeit{
      margin-bottom: 150px;
    }

    .button-primary{
      width: 300px;
    }
  }

  .hero-heading {
    font-size: 3.0rem;
    color: rgba(255, 255, 255, 0.8);
  }
  .phone {
    top: -16rem;
    right: -16rem;
    max-height: 615px;
    + .phone {
      top: -14rem;
      max-height: 570px;
    }
  }
  .screen-mobil {
    .section-heading {
      width: 60%;
      margin: 0 auto;
      text-align: left;
      margin-top: 30%;
    }
    .section-description {
      margin-top: 2rem;
      text-align: left;
      font-size: 1.2em;
    }
  }
}
