%li
  %p
    =link_to 'Conoce mejor a tu clientes', business_root_path 
%li
  %p
    =link_to 'Promociona tus eventos', business_root_path
%li
  %p
    =link_to 'Convierte asistentes a clientes', business_root_path
