%li
  %p
    = link_to 'Eventos Personalizados', clients_root_path
%li
  %p
    = link_to 'Eventos según tu estilo', clients_root_path
%li
  %p
    = link_to 'Gana premios y descuentos', clients_root_path
%li
  %p
    = link_to 'Une a tu gente', clients_root_path
