%li
  = link_to 'https://www.facebook.com/plakeit', target: '_blank' do
    .fa.fa-facebook-square.fa-2x
%li
  = link_to 'https://www.twitter.com/plakeitOficial', target: '_blank' do
    .fa.fa-twitter-square.fa-2x
