%header.bgIndex
  %nav
    .nav-wrapper
      %a.brand-logo{:href => "#"}
        = link_to(image_tag("logo.png", :alt => "plakeit", :width => 150, :height => 60))
      .row.header-text
        .col.m8.offset-m2
          %h3 DESCUBRE EVENTOS EN TU CIUDAD
          %form.size-form
            .col.s12.m3
              %input{:placeholder => "Conciertos de", :type => "text"}
            .col.s12.m9.formTog
              %input{:placeholder => "Nombre o #tag", :type => "text", :name => "name "}

.col.s12.m12
  .col.s12.m12
    .row
      .col.s12.m7.offset-m3.menubar
        %ul
          %li.active TODOS
          %li CONCIERTOS
          %li TEATROS
          %li MUSICALES

.row.size-content#list-public-events
  = render @public_events

.row
  .col.s12.m5.offset-m5
    - unless @public_events.current_page == @public_events.total_pages
      %p#view-more
        = link_to('View More', url_for(page: @public_events.current_page + 1), remote: true)
