%header.bgIndex
  .row.header-text
    .col.m8.offset-m2
      %h4 DESCUBRE EVENTOS EN TU CIUDAD
      %form.size-form
        .col.s12.m9.formTog
          %input#icon-form{:placeholder => "Nombre o #tag", :type => "text"}

.row.size-content#list-weekly-events
  %h5 Eventos de la semana
  = render @weekly_events

.row.size-content#list-public-events
  %h5 Proximos Eventos
  = render @public_events

.row
  .col.s12.m12
    - unless @public_events.current_page == @public_events.total_pages
      = link_to url_for(page: @public_events.current_page + 1), remote: true do
        %p#view-more View More
