%header.bgShow
	%nav
	.row
		.col.s12.m10.offset-m1.headerShow
			%h3
				Styling Afternoon Tea With Complimentary Glass Of Wine
.row
	.col.s12.m5.offset-m1.contentShow
		%p.sizeP 
			%i{:class => "tiny material-icons"} location_on
			Cotati SC Toban 955 Zip: 74168-6613
		%p.sizeP 
			%i{:class => "tiny material-icons"} perm_contact_calendar
			Viernes 18 de marzo
	.col.s12.m3.offset-m2.contentShow
		%p.sizeP Difunde
		%ul
			%li
				= link_to(image_tag("twitter.png"))
			%li
				= link_to(image_tag("facebook.png"))
			%li 
				= link_to(image_tag("mail.png"))
			%li 200 views

.col.s12.m12.content-information
	.row
		.col.s12.m10.offset-m1.sizeText
			%p.sizeP
				El viernes 18 de marzo se tendremos en el escenario a Enforcer, representantes de metal mundial. La cita es en Crypto Bar (Ca. Manuel Segura 123, Barranco) a partir de las 9 pm y será la primera vez de la banda en el Perú.
			%p.sizeP
				Los suecos de Enforcer llegarán a la capital a mostrar su última producción musical “From Beyond”. Ellos estarán acompañados de los nacionales de Cobra y Metal Crucifier.
			%p.sizeP
				Las entradas ya se encuentran disponibles en Moving Sound SRL, Rivera Tattoo Art, GS tattoo shop y Crypto Bar Metal y los precios son los siguientes:
			%p.sizeP
				La historia es acerca de la vida que lleva una estudiante de segundo año de preparatoria, llamada Saya Kisaragi. Ella lleva una vida feliz en una aldea remota con su padre; es muy alegre y amable siempre que va de camino a la escuela entona una canción que ella misma inventó. Es hija de una sacerdotisa y vive en un templo que cuida junto a su padre. Su madre cuando aún se encontraba con vida luchaba con los que llama "Furukimono", que son monstruos que devoran a los humanos, por lo que los cazaba para así poder proteger a la gente del pueblo, a sus amigos y a su padre. Saya y su padre no saben cocinar , así que su comida es preparada por Fumito, que estudio en el mismo colegio de su padre. A ella le encanta el café y le gusta mucho los "Guimauve" que Fumito le prepara. Saya tiene un carácter despistado por eso no se da cuenta de los sentimientos de afecto que algunos chicos de la serie sienten por ella.
			%br
			%p.sizeP
				Pre venta – S/.120
			%p.sizeP
				General – S/.140

	.col.s12.m12.content-map



