/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require animate
 *= require_self
 */

@import 'base/normalize';
@import 'base/reset';
@import 'base/main';
@import "materialize";

html{
	height: 100%;
}

body{
	height: 100%;
}

.bgIndex{
	background: linear-gradient(rgba(12, 24, 44, .6), rgba(12, 24, 44, .6)),url(image-path('header.jpeg'));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 85%;
	nav{
		background: transparent;
		box-shadow: none;
	}

	.nav-wrapper{
		margin-left: 70px;
		margin-right: 70px;
		padding-top: 20px;
	}
}

.parallax-container{
	background: url(image-path('bgshow.jpeg'));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 85%;

	nav{
		background: rgba(27, 30, 35, 0.6);
		box-shadow: none;
		height: 80px;
	}

	.nav-wrapper{
		margin-left: 70px;
		margin-right: 70px;
	}

	.user{
		margin-left: 25px;
	}

}

.menubar{
	margin-top:50px;
	ul li{
		display: inline;
		margin-left: 70px;
	}
	
	a{
		color: #272727; 
	}

	a.active{
		color: #3d5a99;
		font-weight: bold;
		border-bottom: 5px solid #3d5a99;
	}
}

.btn-large{
  background-color: transparent;
  text-transform: none;
  border: 1px solid white;
  border-radius: 9px;
}

.btn-large:hover{
	background-color: #3b5998;
	border: 1px solid #3b5998;
}

.icon-facebook{
	margin-right: 10px;
}

.header-text{
	margin-top: 140px;
	color: #e4cb04;
	h4{
		text-align:center;
	}
	i{
		color: white;
	}
}

.headerShow{
	margin-top: 250px;
	margin-bottom: 50px;
	color: white;
}

.contentShow{
	margin-top: 40px;
	margin-bottom: 20px;
	.sizeP{
		color: #666464;
	}
	ul li{
		display: inline;
	}

	ul li:nth-child(1n+2){
		margin-left: 15px;
	}
}

input[type="text"]{
    color: #272727;
    background: white;
	  width: 100%;
	  border: 1px solid #f2f2f2;
	  border-radius: 3px;
	  height: 2.5rem;
}

select.browser-default{
	height: 2.7rem;
	margin-top: 12px;
	color: #212121;
	background: white;
}

input::-webkit-input-placeholder {
		color: silver;
		margin-left: 5px;
}

.sizeP{
	margin: 0 0 10px;
}

.content-information{
	background: #f1f1f1;
	line-height: 20px;
	.sizeText{
		margin-top: 70px;
		margin-bottom: 50px;
		font-size: 16px;
		line-height: 26px;
	}
}

nav.calendar{
	background: transparent;
}

.content-map{
	background: linear-gradient(rgba(74, 74, 74, .6), rgba(74, 74, 74, .6)),url(image-path('maps.jpg'));
	background-position: center center;
	height: 350px;
}

.formTog{
	margin-left: -10px !important;
}

.size-form{
	margin-top: 50px;
}

.size-content{
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

#form-search{
	background-color: white;
	color:silver;
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 5px 0px 0px 5px !important;
    height: 3.8rem;
}

.card-content{
	color: #504e4e;
	a{
		color: #504e4e;
	}
}

.card-action{
	font-size: 12px;
}

.card-image.img-hover{
	-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-image:hover .img-hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#form-style{
	background-color: white;
	color:silver;
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 0px 5px 5px 0px !important;
    height: 3.8rem;
}

.card-action{
	color:silver;
}

@media (max-width: 400px) {
	.header-text{
		margin-top: 100px;
	}

	.formTog{
		margin-left: 0px !important;
		margin-top: 15px;
	}

	.nav-wrapper{
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 5px;
	}

	.size-content{
		margin-top: 20px;
		margin-bottom: 15px;
		margin-left:0px;
		margin-right:0px;
	}

	.pagination{
		margin-top: 10px;
		margin-bottom: 10px;
	}
 }

@media (max-width: 360px) {
	.header-text{
		margin-top: 100px;
	}

	.formTog{
		margin-left: 0px !important;
		margin-top: 15px;
	}

	.nav-wrapper{
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 10px;
	}

	.size-content{
		margin-top: 20px;
		margin-bottom: 15px;
		margin-left:0px;
		margin-right:0px;
	}

	.pagination{
		margin-top: 10px;
		margin-bottom: 10px;
	}
 }

@media (max-width: 320px) {
	.header-text{
		margin-top: 100px;
	}

	.formTog{
		margin-left: 0px !important;
		margin-top: 15px;
	}

	.nav-wrapper{
		top: 15px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.size-content{
		margin-top: 20px;
		margin-bottom: 15px;
		margin-left:0px;
		margin-right:0px;
	}

	.pagination{
		margin-top: 10px;
		margin-bottom: 10px;
	}
 }
