html{
	height: 100%;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body{
	height: 100%;
}

h1, h2 { color: #F8F8F8; }

h2 {
  font-size: 2rem;
  font-style: italic;
}

// nav
nav{
  background-color: #F8F8F8;

  ul {
    a { color: #404D57;}
  }
}

// header
.bgIndex {
	background: linear-gradient(rgba(12, 24, 44, .6), rgba(12, 24, 44, .6)),url(image-path('header.jpeg'));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 95%;
  color: white;
  .header-title {
    bottom: 80px;
    position: absolute;
    width: 100%;
  }
  .search {
    font-size: 2.5rem; 
  }
}

.parallax-container{
	height: 80%;
  position: relative;
  overflow: hidden;
	.parallax {
		.imag-bg{
			display: block;
			transform: translate3d(-50%, 355px, 0px);
			z-index: -1;
		}
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
	}

	nav{
		background: rgba(27, 30, 35, 0.6);
		box-shadow: none;
		height: 80px;
	}

	.nav-wrapper{
		margin-left: 70px;
		margin-right: 70px;
	}

	.user{
		margin-left: 25px;
	}

}

.menubar{
	margin-top:50px;
	ul li{
		display: inline;
		margin-left: 70px;
	}

	a{
		color: #272727;
	}

	a.active{
		color: #3d5a99;
		font-weight: bold;
		border-bottom: 5px solid #3d5a99;
	}

  a:hover{
    color: #3d5a99;
    font-weight: bold;
    border-bottom: 5px solid #3d5a99;
  }
}

.btn-large{
  background-color: transparent;
  text-transform: none;
  border: 1px solid white;
  border-radius: 9px;
}

.btn-large:hover{
	background-color: #3b5998;
	border: 1px solid #3b5998;
}

.icon-facebook{
	margin-right: 10px;
}

// assitant events
.headerAssistant{
  width: 100%;
  height: 60px;
  bottom: 0;
  position: absolute;
  background: rgba(0,0,0,0.5);
  text-align: center;
  color: white;
}

.contentAssistant{
  margin-top: 150px;
  margin-left: -200px;

  width: 40%;
  left: 30%;

  margin-top: -20px;
  margin-left: -20%;

  color: white;
  position: absolute;
  height: 40px;

  top: 20%;
  margin: auto;
  max-width: 1280px;
  .row .col {
    float: right;
    width: 50px;
    padding-right: 0px;
    padding-left: 0px;

  }
}

.contentAssistant img {
  display: block !important;
  min-width: 0 !important;
  position: inherit !important;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
// end assitant events

.headerShow{
	position: absolute;
  bottom: 0;
	color: white;
	width: 100%;
	background-image: linear-gradient(-180deg, rgba(65,76,87,0.00) 0%, rgba(65,67,87,0.70) 100%);
  margin-bottom: 60px;
	height: 50%;
	.title-event{
		position: absolute;
		bottom: 15%;
	}
}

.contentShow{
  padding-top: 10px;
	margin-bottom: 0;
  p{
    margin: 0 0 10px;
  }
}

.contentEventUbication{
  margin-left: 20%;
}

.contentEvent{
  padding-top: 10px;
  margin-bottom: 0;
  padding-bottom: 5px;
  background: rgba(47, 67, 102, 0.32);
  p{
    margin: 0 0 10px;
  }
}

.sizeCart{
  margin-bottom: 10px !important;
}

.content-information{
	background: #f1f1f1;
	.sizeText{
		margin-top: 70px;
		margin-bottom: 50px;
    font-size: 1.1em;
    font-weight: 400;
    color: rgba(53,51,51,0.90);
    line-height: 36px;
	}
}

nav.calendar{
	background: transparent;
}

.content-map{
	background: linear-gradient(rgba(74, 74, 74, .6), rgba(74, 74, 74, .6)),url(image-path('maps.jpg'));
	background-position: center center;
	height: 350px;
}


.size-content{
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

#form-search{
	background-color: white;
	color:silver;
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 5px 0px 0px 5px !important;
    height: 3.8rem;
}

// card efect
.card-image {
  position: relative;
  overflow: hidden;
}
.card-image img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card-image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.card-content{
	color: #504e4e;
	a{
		color: #504e4e;
	}
}

.card-action{
	font-size: 12px;
}

.card-image.img-hover{
	-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-image:hover .img-hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#form-style{
	background-color: white;
	color:silver;
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 0px 5px 5px 0px !important;
    height: 3.8rem;
}

.card-action{
	color:silver;
}

// more

#view-more {
  padding: 2em;
  text-align: center;
  background-color: #33739E;
  color: #fff;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 1px 1px #ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}
#view-more:hover {
  background-color: #33739E;
  color: red;
}

// Footer
footer{
	background: #182F56 !important;
	h5{
		font-weight: 300;
		margin-bottom: 1.2em;
	}
	.social li{
		display: inline-block;
		margin-right: 10px;
	}
}

footer.page-footer {
  margin-top: 0px;
  padding-top: 0px;
}

@media (max-width: 400px) {
	.diffuses{
		margin-top: 20px;
	}

	.nav-wrapper{
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 5px;
	}

	.size-content{
		margin-top: 20px;
		margin-bottom: 15px;
		margin-left:0px;
		margin-right:0px;
	}

	.pagination{
		margin-top: 10px;
		margin-bottom: 10px;
	}
 }

@media (max-width: 360px) {
	.nav-wrapper{
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 10px;
	}

	.size-content{
		margin-top: 20px;
		margin-bottom: 15px;
		margin-left:0px;
		margin-right:0px;
	}

	.pagination{
		margin-top: 10px;
		margin-bottom: 10px;
	}
 }

@media (max-width: 320px) {
	.nav-wrapper{
		top: 15px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.size-content{
		margin-top: 20px;
		margin-bottom: 15px;
		margin-left:0px;
		margin-right:0px;
	}

	.pagination{
		margin-top: 10px;
		margin-bottom: 10px;
	}
 }

@media (min-width:992px) {
    #aside {
        width:250px;
    }
}

@media (max-width:992px) {
    #aside.pinned, #aside.pin-bottom {
        position:static !important;
        top: auto !important;
    }
}

.mb0{
  margin-bottom: 0px;
}


