<html>
<head>
	<title>Your Website Title</title>

  <meta property="og:url"           content="https://www.joinnus.com/PE/entretenimiento/lima-the-farm-en-lima-5589" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Your Website Title" />
	<meta property="og:description"   content="Your description" />
	<meta property="og:image"         content="https://s3.amazonaws.com/joinnus.com-tester-bucket/user/2/act571839ae82af8.jpg" />
  <meta name="description" content="Descubre todos los eventos que Lima tiene para ti! Conciertos, festivales, fiestas, lima para niños, conferencias y más. ¡Visítanos!">
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
</head>
<body>

	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<!-- Your share button code -->
	<div class="fb-share-button" 
		data-href="http://www.juergon.com" 
		data-layout="button_count">
	</div>

</body>
</html>
