%html
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Really Simple HTML Email Template
  %body{:bgcolor => "#f6f6f6", :style => "font-family: 'Helvetica Neue', 'Helvetica'; line-height: 1.6em; font-size: 100%; Helvetica, Arial, sans-serif;font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;-webkit-font-smoothing: antialiased;height: 100%;-webkit-text-size-adjust: none;width: 100% !important;"}
    / header
    %table.footer-wrap{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;clear: both !important;width: 100%"}
      %tr{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}
        %td{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}/
        %td.container{:style => "font-size: 100%;line-height: 1.6em;margin: 0 auto !important;padding: 0;clear: both !important;display: block !important;max-width: 600px !important"}
          / content
          .content{:style => "font-size: 100%;line-height: 1.6em;margin: 0 auto;padding: 0;display: block;max-width: 600px"}
            %table{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;width: 100%"}
              %tr{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}
                %td{:align => "center", :bgcolor => "#182F56", :style => "padding: 10px;font-size: 100%;line-height: 1.6em;margin: 0"}
                  %img{:alt => "Logo", :height => "63", :src => "https://s3-us-west-2.amazonaws.com/plakeit.documents/logo%402x.png", :style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;max-width: 600px;width: auto", :width => "163"}/
          / /content
        %td{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}/
    / body
    %table.body-wrap{:bgcolor => "#f6f6f6", :style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;padding-bottom: 20px;width: 100%"}
      %tr{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}
        %td{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}/
        %td.container{:bgcolor => "#FFFFFF", :style => "font-size: 100%;line-height: 1.6em;margin: 0 auto !important;padding: 20px;border: 1px solid #f0f0f0;clear: both !important;display: block !important;max-width: 600px !important"}
          / content
          .content{:style => "font-size: 100%;line-height: 1.6em;margin: 0 auto;padding: 0;display: block;max-width: 600px"}
            = yield
            / /content
        %td{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}/
    / /body
    / footer
    %table.footer-wrap{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;clear: both !important;width: 100%"}
      %tr{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}
        %td{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}/
        %td.container{:style => "font-size: 100%;line-height: 1.6em;margin: 0 auto !important;padding: 0;clear: both !important;display: block !important;max-width: 600px !important"}
          / content
          .content{:style => "font-size: 100%;line-height: 1.6em;margin: 0 auto;padding: 0;display: block;max-width: 600px"}
            %table{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;width: 100%"}
              %tr{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}
                %td{:align => "center", :style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}
                  %p{:style => "font-size: 14px;line-height: 1.6em;margin: 0;padding: 0;color: #666;font-weight: normal;margin-bottom: 10px"}
                    Siguenos en
              %tr{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}
                %td{:align => "center", :style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}
                  %a{:href => "https://www.facebook.com/plakeit", :style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;color: #999"} Facebook
                  %a{:href => "https://twitter.com/PlakeitOficial", :style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0;color: #999"} Twitter
          / /content
        %td{:style => "font-size: 100%;line-height: 1.6em;margin: 0;padding: 0"}/
    / /footer
